<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel= "stylesheet" href= "{{ url_for('static',filename='css/listdata.css') }}">
</head>
<body style="width: 100vw; height: 100vh; position: relative; background: linear-gradient(to right, rgba(229, 204, 72, 0.4), rgba(253, 244, 245, 0.4), rgba(73, 69, 252, 0.4)); overflow: hidden;">
    <div class="row">
        <div class="col-3 m-0 d-flex flex-column align-items-center" style="height: 100vh;background-color: white; width: 100px;">
            <a class="navbar-brand d-flex justify-content-center align-items-center" href="#" style="height:96px ;">
                <img
                src="{{ url_for('static', filename='logo-1.svg') }}"
                alt="Logo"
                width="50"
                height="50"
                class="d-inline-block align-text-center"
                />
                <img src="{{ url_for('static', filename='logo-2.svg') }}" alt="" />
            </a>   
            <a class="row mt-4 d-flex align-items-center justify-content-start" id="list_data_group" style="height: 56px;width:min(216px,20vw); background: #4945FC; border-radius: 12px">
                <div class="col-4 d-flex align-items-center justify-content-center">
                    <img
                    src="{{ url_for('static', filename='Chart.svg') }}"
                    alt="Logo"
                    width="25"
                    height="25"
                    class="d-inline-block align-text-center"
                    />
                </div>
                <div class="col-6 d-flex align-items-center justify-content-start">
                    List Data
                </div>
            </a>
            <a class="row mt-3 d-flex align-items-center justify-content-start" id="list_user_group" style="height: 56px;width:min(216px,20vw); background: white; border-radius: 12px">
                <div class="col-4 d-flex align-items-center justify-content-center">
                    <img
                    src="{{ url_for('static', filename='listuser.svg') }}"
                    alt="Logo"
                    width="25"
                    height="25"
                    class="d-inline-block align-text-center"
                    />
                </div>
                <div class="col-6 d-flex align-items-center justify-content-start">
                    List User
                </div>
            </a>
        </div>
        <div class="col-9 m-0 p-0 position-relative" >
            <nav class="navbar bg-body-tertiary sticky-top" style="background-color: white; height: 96px;">
                <div class="container d-flex justify-content-end">
                    <div class="profile ms-auto d-flex align-items-center">
                        <a href="#" class="d-flex align-items-center">
                            <img
                            src="{{ url_for('static', filename='gambar1.png') }}"
                            alt="profile"
                            width="50"
                            class="rounded-circle img-thumbnail"
                            />
                        </a>
                        <span class="ms-2">
                            <h6 class="text-end mb-0" style="color: rgb(73, 69, 252)">
                                Kadek Dummy
                            </h6>
                            <i style="color: rgb(73, 69, 252)">Mahasiswa</i>
                        </span>
                    </div>
                </div>
            </nav>
            <div class="d-flex justify-content-center align-items-center" style="height: calc(100vh - 96px);width:100%;">
                <div class="container position-relative p-0" style="height:calc(100vh - 196px);width:calc(80vw - 200px);background-color: white;border-radius: 16px;">
                    <div class="row m-0 px-3" style="height: 15%;">
                        <div class="col-6 p-0 d-flex justify-content-start align-items-center">
                            <input class="noborder" type="text" placeholder="Search by ID, product, or other..." style="height: 50px;width: 90%;">
                            </input>
                        </div>
                        <div class="col-6 p-0 d-flex justify-content-end align-items-center">
                            <div class="d-flex justify-content-center align-items-center tambah" style="height: 50%;width: 60%;">
                                <img
                                src="{{ url_for('static', filename='formkit_add.svg') }}"
                                alt="profile"
                                width="25"
                                >
                                </img>
                                <input class="noborder" type="button" value="Tambah Data" style="height: 50%;width: 60%;">
                                </input>
                            </div>

                        </div>
                    </div>
                    <div class="container-fluid p-0" style="height: 70%;overflow-x: scroll;overflow-y: scroll;">
                        <table class="table">
                          <thead style="color: #4945FC;">
                            <tr>
                              <th>No</th>
                              <th>id</th>
                              <th>Username</th>
                              <th>Email</th>
                              <th>Is_admin</th>
                              <th>Action</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>Data 1</td>
                              <td>Data 2</td>
                              <td>Data 3</td>
                            </tr>
                            <tr>
                              <td>Data 4</td>
                              <td>Data 5</td>
                              <td>Data 6</td>
                            </tr>
                          </tbody>
                        </table>
                    </div>
                    <div class="row p-0 m-0" style="height: 15%; overflow-x: hidden;">
                        <div class="col-6 d-flex justify-content-center align-items-center">
                            <label for="cars">Show result:</label>
                            <select name="cars" id="cars">
                                <option value="volvo">Volvo</option>
                                <option value="saab">Saab</option>
                                <option value="mercedes">Mercedes</option>
                                <option value="audi">Audi</option>
                            </select>
                        </div>
                        <nav class="col-6 d-flex justify-content-center align-items-center" aria-label="Page navigation example">
                            <ul class="pagination justify-content-center">
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1">Previous</a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#">Next</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
    
</html>